header{
    color: black;
   height: 70px;
   text-align: center;
   }
   
   .cell {
       color: black;
   text-align: center;
   padding: 10px;
   }
   .container1{
       display: grid;
       grid-template-columns: 60% 40%;
       height: 400px;
   }
   .container2{
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       height: 100px;
       align-content: center;
   }
 
   .row{
      text-align: center; 
   }
   .str1{
   justify-content: center;
   align-self: center;
   }