h1{
    color: #134A45;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 50px;
width: 617px;
height: 114px;
margin-left: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
justify-items: center;
align-items: center;
width: 100%;
max-width: 1200px;
margin: 0 auto;
height: auto;
background-color:#CFD4D8 ;
}
.cell{
    height: 524px;
    width: 340px;
    text-align: center;

}
footer{
    padding: 20px;
    margin: 20px;
}

h2,h4{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 26px;
}
.container1{
    display: flex;
justify-content: center;
align-items: center;
}
